{% include 'ostiarius/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'ostiarius/tables/css/bootstrap-table.css' %}">
<script src="{% static 'ostiarius/tables/js/bootstrap-table.js' %}"></script>
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-exclamation-circle fa-fw"></i> Alerts</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <div class="container">
            <div class="panel-body">
                <table id="table" data-show-columns="true" data-search="true"
                       data-page-number="true" data-pagination="true" data-toggle="table" class="table">
                    <thead>
                    <tr>
                        <th>Asset Number</th>
                        <th>Asset Name</th>
                        <th>Alert Date</th>
                        <th>Alert Time</th>
                        <th>Culprit</th>
                        <th>Admin Message</th>
                        <th>View Charts</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for alert in alerts %}
                        <tr>
                            <td>{{ alert.item.asset_no }}</td>
                            <td>{{ alert.item.item_name }}</td>
                            <td>{{ alert.date }}</td>
                            <td>{{ alert.time }}</td>
                            <td><img src="data:image/png;base64,{{ alert.photo }}" class="img-responsive"
                                     style="width: 60px; height: 60px"/>
                            <td>
                                {% if alert.admin_message is None %}
                                    -
                                {% else %}
                                    {{ alert.admin_message }}
                                {% endif %}
                            </td>
                            <td>
                                <form action="{% url 'ostiarius:alert_report' alert.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline btn-success btn-circle"><i
                                            class="fa fa-bar-chart-o"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('table').bootstrapTable();
</script>
