{% include 'ostiarius/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'ostiarius/tables/css/bootstrap-table.css' %}">
<script src="{% static 'ostiarius/tables/js/bootstrap-table.js' %}"></script>

<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="page-header"><i class="fa fa-exclamation-circle fa-fw"></i> Alerts</h1>

            <div class="breadcrumb">
                <li><a href="{% url 'ostiarius:index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Alerts</li>
            </div>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="container">
                <div class="box">
                    <div class="box-header">
                        <h2 class="page-header">Alerts Table</h2>
                    </div>
                    <div class="box-body">
                        <table id="table" data-show-columns="true" data-search="true"
                               data-page-number="true" data-reorderable-rows="true"
                               data-pagination="true" data-toggle="table" class="table">
                            <thead>
                            <tr>
                                <th>Asset Number</th>
                                <th>Asset Name</th>
                                <th data-sortable="true">Alert Date</th>
                                <th>Alert Time</th>
                                <th>Culprit</th>
                                <th>Admin Message</th>
                                <th>View Charts</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alert in alerts %}
                                <tr>
                                    <td>{{ alert.item.asset_no }}</td>
                                    <td>{{ alert.item.item_name }}</td>
                                    <td>{{ alert.date }}</td>
                                    <td>{{ alert.time }}</td>
                                    <td><img src="data:image/png;base64,{{ alert.photo }}" class="img-responsive"
                                             style="width: 60px; height: 60px"/>
                                    <td>
                                        {% if alert.admin_message is None %}
                                            -
                                        {% else %}
                                            {{ alert.admin_message }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'ostiarius:alert_report' alert.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class=".btn.btn-app"><i
                                                    class="fa fa-bar-chart-o"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'ostiarius/footer.html' %}
</div>

<script>
    $('table').bootstrapTable();
</script>
