{% extends 'ostiarius/base.html' %}
{% block body %}
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Assets</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Basic Table
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Asset Number</th>
                                    <th>Item Name</th>
                                    <th>Maintenence</th>
                                    <th>Present</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for items in assets %}
                                    <tr>
                                        <td>{{ items.asset_no }}</td>
                                        <td>{{ items.item_name }}</td>
                                        <td>
                                            {% if items.maintenance %}
                                                <input type="checkbox" checked data-toggle="toggle" data-on="Yes"
                                                       data-off="No"/>
                                            {% else %}
                                                <input type="checkbox" unchecked data-toggle="toggle" data-on="Yes"
                                                       data-off="No"/>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if items.present %}
                                                <input type="checkbox" checked data-toggle="toggle" data-on="Yes"
                                                       data-off="No"/>
                                            {% else %}
                                                <input type="checkbox" unchecked data-toggle="toggle" data-on="Yes"
                                                       data-off="No"/>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}