<div class="modal fade" id="addNewItem" tabindex="-1" role="dialog"
     aria-labelledby="addNewLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="addNewLabel">Add New Items</h4>
                </div>
                <p></p>

                <div class="form-group">
                    <label>Serial Number (S/N)</label>
                    <input type="number" name="new_S_N" class="form-control" placeholder="S/N">
                </div>


                <div class="form-group">
                    <label>Asset Number</label>
                    <input type="text" name="new_asset_no" class="form-control" placeholder="Asset Number">
                </div>

                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text" name="new_item_name" class="form-control" placeholder="Item Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="submit"
                        class="btn btn-primary">Add
                </button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->