<div class="modal fade" id="edit_{{ item.asset_no }}" tabindex="-1" role="dialog"
     aria-labelledby="editLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="editLabel">Edit Items Table</h4>
                </div>
                <p></p>
                <div class="form-group">
                    <label>Asset Number</label>
                    <p>{{ item.asset_no }}</p>
                    <input name="item_id" type="hidden" value="{{ item.id }}">
                </div>

                <div class="form-group">
                    <label>Item Name</label>
                    <input name="item_name" class="form-control" value="{{ item.item_name }}" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="submit"
                        class="btn btn-primary">Save changes
                </button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->