{% include 'ostiarius/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'ostiarius/tables/css/bootstrap-table.css' %}">
<script src="{% static 'ostiarius/tables/js/bootstrap-table.js' %}"></script>
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">All Assets</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

        {% if success_msg %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ success_msg }}
            </div>
        {% endif %}
        <!-- /.panel-heading -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Items Table
            </div>
            <div class="panel-body">
                <table id="table" data-show-refresh="true" class="table">
                    <thead>
                    <tr>
                        <th>Asset Number</th>
                        <th>Item Name</th>
                        <th>Present</th>
                        <th>Maintenance Status</th>
                        <th>Map Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.asset_no }}</td>
                            <td>{{ item.item_name }}</td>
                            <td>
                                {% if item.present %}
                                    <span class="label label-success">In T1933</span>
                                {% else %}
                                    <span class="label label-danger">Not in T1933</span>
                                {% endif %}</td>
                            <td>
                                {% if item.maintenance_mode %}
                                    {% for maintain in item.maintenance_set.all %}
                                        {% if maintain.status %}
                                            <p>Status: <span class="label label-warning">Under Maintenance</span></p>
                                            <p>Staff in Charge:
                                                <span class="label label-primary">{{ maintain.lecturer }}</span>
                                            </p>
                                            <p>
                                                <small>Under Maintenance since: {{ maintain.date }}</small>
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if item.map_status %}
                                    <span class="label label-success">Yes</span>
                                {% else %}
                                    <span class="label label-danger">No</span>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-outline btn-primary" data-toggle="modal"
                                        data-target="#edit_{{ item.asset_no }}">Edit
                                </button>
                                <form role="form" action="{% url 'ostiarius:update_items' %}" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% include 'ostiarius/items_form.html' %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('table').bootstrapTable();
</script>

