<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ostiarius</title>

    {% load staticfiles %}
    <link href="{% static 'ostiarius/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ostiarius/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'ostiarius/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet">

</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-left">
            <img src="http://imgur.com/rNNLjKf.png" style="width: 60px; height: 60px">
        </ul>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'ostiarius:index' %}">Ostiarius Admin Panel</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ user.username }} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> {{ user.username }} Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'ostiarius:logout_user' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{% url 'ostiarius:index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop fa-fw"></i> Assets<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'ostiarius:assets' %}">All Assets</a>
                            </li>
                            <li>
                                <a href="{% url 'ostiarius:maintenancePage' %}">Maintenance</a>
                            </li>
                            <li>
                                <a href="{% url 'ostiarius:alertPage' %}">Alerts</a>
                            </li>
                            <li>
                                <a href="#">Mapping</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'ostiarius:camera' %}"><i class="fa fa-gears fa-fw"></i> Pi Camera</a>
                    </li>
                    <li>
                        <a href="{% url 'ostiarius:console' %}"><i class="glyphicon glyphicon-console"></i> Console</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>

<script src="{% static 'ostiarius/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'ostiarius/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ostiarius/vendor/metisMenu/metisMenu.min.js' %}"></script>
<script src="{% static 'ostiarius/dist/js/sb-admin-2.js' %}"></script>

</body>
</html>