{% include 'ostiarius/base.html' %}
{% load staticfiles %}
<link href="{% static 'ostiarius/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ostiarius/tables/css/bootstrap-table.css' %}">
<script src="{% static 'ostiarius/tables/js/bootstrap-table.js' %}"></script>
<div class="container">
    <h1>From data</h1>
    <p></p>
    <table id="table">
        <thead>
        <tr>
            <th data-field="id">Item ID</th>
            <th data-field="asset_no">Asset Number</th>
            <th data-field="item_name">Item Name</th>
            <th data-field="present">Present</th>
            <th data-field="map_status">Map Status</th>
        </tr>
        </thead>
    </table>
    {{ output }}
</div>
<script>
    var $table = $('#table');
    $(function () {
        var data = {{ output }};
        var json=JSON.stringify(data);
        $table.bootstrapTable({data: json});
    });
</script>