{% include 'ostiarius/base.html' %}
{% load staticfiles %}
<link href="{% static 'ostiarius/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ostiarius/tables/css/bootstrap-table.css' %}">
<script src="{% static 'ostiarius/tables/js/bootstrap-table.js' %}"></script>
<div class="container">
    <h1>From data</h1>
    <p></p>
    <table id="table"
           data-toggle="table"
           data-pagination="true"
           data-show-refresh="true"
           data-url="{% static 'ostiarius/demo.json' %}">
        <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
            <th data-field="action">Action</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    $('table').bootstrapTable();
</script>