{% include 'ostiarius/base.html' %}

<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="page-header"><i class="glyphicon glyphicon-console"></i> Camera</h1>
            <div class="breadcrumb">
                <li><a href="{% url 'ostiarius:index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Camera</li>
            </div>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <div class="container">
                <div class=".col-md-4">
                    {# Start Inserting here #}
                    <h2>Live Camera</h2>
                    <p>This will open up a connection to your Raspberry Pi and launch the camera module that allows live
                        view.</p>
                    <button class="btn btn-primary btn-lg" onclick="myFunction()">
                        Launch Camera
                    </button>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
                <!-- /.row -->
            </div>

        </div>
    </div>
    {% include 'ostiarius/footer.html' %}
</div>

<script>
    function myFunction() {
                window.open("http://10.10.10.69:8081", '_blank', 'width=800,height=800');
        {#        window.open("http://169.254.134.247:8081", '_blank', 'width=800,height=800');#}
{#        window.open("http://119.56.99.33:8081", '_blank', 'width=800,height=800');#}
    }
</script>