{% include 'ostiarius/base.html' %}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="glyphicon glyphicon-console"></i> Console</h1>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <div class="container">
            <div class=".col-md-4">
                {# Start Inserting here #}
                <h2>Console Access</h2>
                <p>This will open up a console VNC connection to your Raspberry Pi and is the equivalent of plugging a
                    monitor and keyboard directly to your virtual server.</p>
                <button class="btn btn-primary btn-lg" onclick="myFunction()">
                    Launch Console
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        {#        window.open("http://192.168.0.124/webconsole.php", '_blank', 'width=800,height=800');#}
        window.open("http://10.10.10.65/webconsole.php", '_blank', 'width=800,height=800');
{#        window.open("http://169.254.134.247/webconsole.php", '_blank', 'width=800,height=800');#}
    }
</script>