{% include 'ostiarius/base.html' %}
<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% for item in item_present %}
                <div class="col-lg-3" style="text-align: center">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            {{ item.item_name }}
                        </div>
                        <div class="panel-body">
                            <img src="{{ item.photo }}" width="300" height="300">
                        </div>
                        <div class="panel-footer">
                            <p>Date & Time: <span
                                    class="label label-warning">{{ details.date }} {{ details.time }}</span></p>
                            <p>Missing since: </p>
                            <small>Asset Number: <span
                                    class="label label-primary">{{ details.item.asset_no }}</span>
                            </small>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                </div>
            {% endfor %}
            {% for alert in alerts %}
                <div class="col-lg-3" style="text-align: center">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            {{ alert.item.item_name }}
                        </div>
                        <div class="panel-body">
                            <img src="{{ alert.photo }}" width="300" height="300">
                        </div>
                        <div class="panel-footer">
                            <p>Date & Time: <span
                                    class="label label-warning">{{ alert.date }} {{ alert.time }}</span></p>
                            <small>Asset Number: <span
                                    class="label label-primary">{{ alert.item.asset_no }}</span>
                            </small>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                </div>
            {% endfor %}
            {% for maintain in maintenance %}
                <div class="col-lg-3" style="text-align: center">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            {{ maintain.item.item_name }}
                        </div>
                        <div class="panel-body">
                            <img src="" width="300" height="300">
                        </div>
                        <div class="panel-footer">
                            <p>Maintenance Date: <span
                                    class="label label-warning">{{ maintain.date }}</span></p>
                            <p>Staff in Charge: <span class="label label-primary">{{ maintain.lecturer }}</span></p>
                            <small>Asset Number: <span
                                    class="label label-default">{{ maintain.item.asset_no }}</span>
                            </small>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                </div>
            {% endfor %}
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
