{% include 'ostiarius/base.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Dashboard</h1>
            <div class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Here</li>
            </div>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>{{ item_present }} items</h3>

                            <p>Not in the lab</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <a href="{% url 'ostiarius:present' %}" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ alerts.count }} items</h3>

                            <p>Got Alerted today</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-exclamation-circle"></i>
                        </div>
                        <a href="{% url 'ostiarius:alert' %}" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ item_maintenance }} items</h3>

                            <p>On Maintainence</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <a href="{% url 'ostiarius:maintenance' %}" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>{{ maintain_overdue.count }} items</h3>

                            <p>Overdue Items</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <a href="{% url 'ostiarius:overdue' %}" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-thermometer-half"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Pi Temperature</span>
                            <span class="info-box-number">
                                <div class="huge temp">
                                        <div id="loading" style="text-align: center;">
                                            <i class="fa fa-circle-o-notch fa-spin"></i>
                                            Loading
                                        </div>
                                    </div>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-video-camera"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Pi Camera</span>
                            <span class="info-box-number">
                                    <div class="huge camera">
                                        <div id="loading" style="text-align: center;">
                                            <i class="fa fa-circle-o-notch fa-spin"></i>
                                            Loading
                                        </div>
                                    </div>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-signal"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Arm Usage</span>
                            <span class="info-box-number">
                                    <div class="huge armUsage">
                                        <div id="loading" style="text-align: center;">
                                            <i class="fa fa-circle-o-notch fa-spin"></i>
                                            Loading
                                        </div>
                                    </div>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-signal"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">GPU Usuage</span>
                            <span class="info-box-number">
                                    <div class="huge gpuUsage">
                                        <div id="loading" style="text-align: center;">
                                            <i class="fa fa-circle-o-notch fa-spin"></i>
                                            Loading
                                        </div>
                                    </div>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>

            <div class="col-md-8">
                <!-- AREA CHART -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bar Chart</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="myBarChart"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- LINE CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Line Chart</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div class="pull-right">
                                <select id="dropdown_line">
                                    <option value=""></option>
                                    {% for item in all_assets %}
                                        <option value="{{ item.asset_no }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="panel-body">
                                Please select from the drop down list.
                                <canvas id="myLineChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>

            <div class="col-md-4">
                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Donut Chart</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="myDoughnutChart"></canvas>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
<script>
    {#    $(document).ready(function () {#}
    {#        $("#refresh").load("{% url 'ostiarius:index' %}");#}
    {#        var refreshId = setInterval(function () {#}
    {#            $("#refresh").load("{% url 'ostiarius:index' %}");#}
    {#        }, 60000);#}
    {#        $.ajaxSetup({cache: false});#}
    {#    });#}
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'ostiarius:piStatus' %}",
            type: "GET",
            success: function (json) {
                $(".temp").html(json[0]['temp_status'] + "°C")
                $(".camera").html(json[0]['camera_status'])
                $(".armUsage").html(json[0]['arm_usage'])
                $(".gpuUsage").html(json[0]['gpu_usage'])
                $("#loading").hide()
            }
        });
    });
    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    var labels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November',
        'December'];
    var ctx = document.getElementById("myBarChart");
    var ctx2 = document.getElementById("myDoughnutChart");
    var ctx3 = document.getElementById("myLineChart");
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Alerts',
                data: {{ alert_data | safe }},
                backgroundColor: [
                    {% for foo in alert_data %}
                        getRandomColor(),
                    {% endfor %}
                ],
                borderColor: [
                    {% for foo in alert_data %}
                        getRandomColor(),
                    {% endfor %}
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var myDoughnutChart = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: {{ pie_labels | safe }},
            datasets: [{
                data: {{ pie_data | safe }},
                backgroundColor: [
                    {% for foo in pie_data %}
                        getRandomColor(),
                    {% endfor %}
                ],
            }],
        },
    });
    $(document).ready(function () {
        $("#dropdown_line").on("change", function () {
            var selectedValue = $('#dropdown_line').val();
            $.ajax({
                url: "indexLineChart",
                type: "GET",
                data: {"name": selectedValue},
                dataType: "json",
                success: function (result) {
                    var data = result.line_data
                    var myLineChart = new Chart(ctx3, {
                        type: 'line',
                        data: {
                            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                            datasets: [{
                                label: selectedValue,
                                data: data,
                                backgroundColor: "rgba(0,0,0,0)",
                                borderColor: "rgba(255, 0, 0, 1)",
                                borderWidth: 1
                            }]
                        },
                        options: {
                            elements: {
                                line: {
                                    tension: 0, // disables bezier curves
                                }
                            }
                        }
                    });
                }
            });
        });
    });
</script>