{% include 'ostiarius/base.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-left">
                                <div class="huge">{{ item_present }} items</div>
                                <div> Not in the lab</div>
                            </div>
                            <i class="fa fa-desktop fa-5x"></i>
                        </div>
                    </div>
                    <a href="{% url 'ostiarius:present' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-left">
                                <div class="huge">{{ alerts.count }} items</div>
                                <div> Got Alerted today</div>
                            </div>
                            <i class="fa fa-exclamation-circle fa-5x"></i>
                        </div>
                    </div>
                    <a href="{% url 'ostiarius:alert' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-left">
                                <div class="huge">{{ item_maintenance }} items</div>
                                <div> On Maintainence</div>
                            </div>
                            <i class="fa fa-wrench fa-5x"></i>
                        </div>
                    </div>
                    <a href="{% url 'ostiarius:maintenance' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-9 text-left">
                                <div class="huge">{{ maintain_overdue.count }} items</div>
                                <div>Overdue Items</div>
                            </div>
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                    </div>
                    <a href="{% url 'ostiarius:overdue' %}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Pie Chart
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <canvas id="myDoughnutChart"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Line Chart
                    <div class="pull-right">
                        <select>
                            <option></option>
                            {% for alert in all_alerts %}
                                {#                                <form action="{% url 'ostiarius:index' alert.id %}">#}
                                <option value="{{ alert.asset_no }}">{{ alert.item }}</option>
                                {#                                </form>#}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="myLineChart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<script>
{#    $(document).ready(function () {#}
{#        $("#refresh").load("{% url 'ostiarius:index' %}");#}
{#        var refreshId = setInterval(function () {#}
{#            $("#refresh").load("{% url 'ostiarius:index' %}");#}
{#        }, 600000);#}
{#        $.ajaxSetup({cache: false});#}
{#    });#}

    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var labels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November',
        'December'];

    var ctx = document.getElementById("myBarChart");
    var ctx2 = document.getElementById("myDoughnutChart");
    var ctx3 = document.getElementById("myLineChart");

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of Alerts',
                data: {{ alert_data | safe }},
                backgroundColor: [
                    {% for foo in alert_data %}
                        getRandomColor(),
                    {% endfor %}
                ],
                borderColor: [
                    {% for foo in alert_data %}
                        getRandomColor(),
                    {% endfor %}
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


    var myDoughnutChart = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: {{ pie_labels | safe }},
            datasets: [{
                data: {{ pie_data | safe }},
                backgroundColor: [
                    {% for foo in pie_data %}
                        getRandomColor(),
                    {% endfor %}
                ],
            }],
        },
    });

    {#    var myLineChart = new Chart(ctx, {#}
    {#        type: 'line',#}
    {#        data: {#}
    {#            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],#}
    {#            datasets: [{#}
    {#                label: '{{ line_alert_id.asset_no }} : {{ line_alert_id.item.item_name }}',#}
    {#                data: {{ line_data | safe }},#}
    {#                backgroundColor: "rgba(0,0,0,0)",#}
    {#                borderColor: "rgba(255, 0, 0, 1)",#}
    {#                borderWidth: 1#}
    {#            }]#}
    {#        },#}
    {#        options: {#}
    {#            elements: {#}
    {#                line: {#}
    {#                    tension: 0, // disables bezier curves#}
    {#                }#}
    {#            }#}
    {#        }#}
    {#    });#}
</script>