<div class="modal fade" id="addNewMaintenance" tabindex="-1" role="dialog"
     aria-labelledby="maintainLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="maintainLabel">Add New Maintenance</h4>
                </div>
                <p></p>
                <div class="form-group">
                    <label>Asset Number</label>
                    <select name="maintain_asset_no" class="form-control" required>
                        <option></option>
                        {% for item in items %}
                            <option>{{ item.asset_no }} - {{ item.item_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Staff Name</label>
                    <select name="staff_name" class="form-control" required>
                        <option></option>
                        {% for staff in staffs %}
                            <option>{{ staff.staff_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Maintenance Date</label>
                    <input name="maintain_date" class="form-control" type="date" value="{{ today|date:"Y-m-d" }}"
                           min="{{ today|date:"Y-m-d" }}" required>
                </div>

                <div class="form-group">
                    <label>Return Date</label>
                    <input name="return_date" class="form-control" type="date" min="{{ today|date:"Y-m-d" }}" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="submit"
                        class="btn btn-warning">Add
                </button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->