<div class="modal fade" id="maintain_{{ maintain.asset_no }}" tabindex="-1" role="dialog"
     aria-labelledby="maintainLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="maintainLabel">Edit Maintenance Table</h4>
                </div>
                <p></p>

                <div class="form-group">
                    <label>Asset Number</label>
                    <p>{{ maintain.asset_no }}</p>
                    <input name="maintain_item_id" type="hidden" value="{{ maintain.item.id }}">
                    <input name="maintain_asset_no" type="hidden" value="{{ maintain.asset_no }}">
                </div>

                <div class="form-group">
                    <label>Item Name</label>
                    <p>{{ maintain.item.item_name }}</p>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <p></p>
                    {% if maintain.status %}
                        <input type="radio" name="maintain_status" value="True" checked> Under Maintenance
                        <p></p>
                        <input type="radio" name="maintain_status" value="False" unchecked> Done
                    {% else %}
                        <input type="radio" name="maintain_status" value="True" unchecked> Under Maintenance
                        <p></p>
                        <input type="radio" name="maintain_status" value="False" checked> Done
                    {% endif %}
                </div>

                <div class="form-group">
                    <label>Staff Name</label>
                    <select name="staff_name" class="form-control" required>
                        <option>{{ maintain.staff_name }}</option>
                        {% for staff in staffs %}
                            <option>{{ staff.staff_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Maintenance Date</label>
                    <input name="maintainDate" class="form-control" type="date" value="{{ maintain.date|date:"Y-m-d" }}"
                           max="{{ today|date:"Y-m-d" }}"
                           required>
                </div>

                <div class="form-group">
                    <label>Return Date</label>
                    {% if maintain.return_date is not None %}
                        <input name="returnDate" class="form-control" type="date"
                               value="{{ maintain.return_date|date:"Y-m-d" }}"/>
                    {% else %}
                        <input name="returnDate" class="form-control" type="date" value="{{ today|date:"Y-m-d" }}"/>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="submit"
                        class="btn btn-warning">Save changes
                </button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->