{% load staticfiles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<link rel="stylesheet" href="{% static 'ostiarius/dist/css/index.css' %}">
<script src="{% static 'ostiarius/vendor/jquery/jquery.min.js' %}"></script>

<header>
    <h1>Push Codelab</h1>
</header>

<script>
    $.getJSON("{% url 'ostiarius:push_alert' %}", function (jsonFromFile) {
        $(document).ready(function () {
        });
    });
</script>

<script src="{% static 'ostiarius/dist/js/main.js' %}"></script>
<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>