{% include 'ostiarius/base.html' %}
{% load staticfiles %}
<link href="{% static 'ostiarius/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ostiarius/tables/css/bootstrap-table.css' %}">
<script src="{% static 'ostiarius/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'ostiarius/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ostiarius/tables/js/bootstrap-table.js' %}"></script>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa fa-gears fa-fw"></i> Pi Settings</h1>
            </div>
        </div>
        {# Start Inserting here #}
        <div class="container">
            <div class=".col-md-4">
                {# Start Inserting here #}
                <h2>System Diagnostic</h2>
                <p>This will generate a report of the status of the Pi Setup.</p>
                <button id="show" class="btn btn-primary">
                    Generate Report
                </button>

                <div id="table1">
                    <table id="table" data-show-columns="true" data-toggle="table" class="table">
                        <thead>
                        <tr>
                            <th>Pi S/N</th>
                            <th>Temperature (°C)</th>
                            <th>Camera Status</th>
                            <th>Arm Usage</th>
                            <th>GPU Usage</th>
                            <th>Date Retrieve</th>
                            <th>Time Retrieve</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ pilog.pi_sn }}</td>
                            <td>{{ pilog.temp_status }}</td>
                            <td>
                                {% if not pilog.camera_status %}
                                    <span class="label label-danger">Not Working</span>
                                {% else %}
                                    <span class="label label-success">Working</span>
                                {% endif %}
                            </td>
                            <td>{{ pilog.arm_usage }}</td>
                            <td>{{ pilog.gpu_usage }}</td>
                            <td>{{ pilog.logdate }}</td>
                            <td>{{ pilog.logtime }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <hr>

                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="myLineChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('table').bootstrapTable();
    $(document).ready(function () {
        $("#table1").hide();
        $("#show").click(function () {
            $("#table1").show();
        });
    });

    var ctx = document.getElementById("myLineChart");

    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            datasets: [{
                label: '{{ pilog.pi_sn }}',
                data: {{ line_data | safe }},
                backgroundColor: "rgba(0,0,0,0)",
                borderColor: "rgba(255, 0, 0, 1)",
                borderWidth: 1
            }]
        },
        options: {
            elements: {
                line: {
                    tension: 0, // disables bezier curves
                }
            }
        }
    });

</script>